.main-div{

    width: 100 vw;
    height: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.sub-div{

    width: 60 vw;
    height: 60 vh;
}

h3{ 

    text-align: center; 
    font-size: 25px; 
}
.sub-div table{
           
    border: 2px solid black;
    text-align: center;
}
.sub-div th{
    border: 1px solid blue;
    font-size: 20px;
    padding: 5px;
}
.sub-div td{
    border: 1px solid blue;
}
td i
{
    color: red;
}